/*============    ШРИФТЫ    ===========*/
@font-face {
  font-family: '11211';
  src: url('fonts/11211.eot');
  src: url('fonts/11211.eot') format('embedded-opentype'), url('fonts/11211.woff2') format('woff2'), url('fonts/11211.woff') format('woff'), url('fonts/11211.ttf') format('truetype'), url('fonts/11211.svg#11211') format('svg');
}
@font-face {
  font-family: '11214';
  src: url('fonts/11214.eot');
  src: url('fonts/11214.eot') format('embedded-opentype'), url('fonts/11214.woff2') format('woff2'), url('fonts/11214.woff') format('woff'), url('fonts/11214.ttf') format('truetype'), url('fonts/11214.svg#11214') format('svg');
}
@font-face {
  font-family: '11217';
  src: url('fonts/11217.eot');
  src: url('fonts/11217.eot') format('embedded-opentype'), url('fonts/11217.woff2') format('woff2'), url('fonts/11217.woff') format('woff'), url('fonts/11217.ttf') format('truetype'), url('fonts/11217.svg#11217') format('svg');
}
.bold {
  font-family: "11211";
}
.med {
  font-family: "11217";
}
.light {
  font-family: "11214";
}
/*=====================    База    =====================*/
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}
.section_header h2 {
  text-transform: uppercase;
  color: #666;
  font-family: "11211";
}
button:focus {
  outline: none;
}
/*=====================    ШАПКА    =====================*/
header {
  color: #666;
  padding-top: 25px;
  padding-bottom: 20px;
}
header .descript h4 {
  font-family: "11217";
  text-transform: uppercase;
}
header .descript h5 {
  font-family: "11214";
  font-size: 19px;
}
header .phone_number {
  text-align: center;
}
header .phone_number h3 {
  margin-top: 7px;
}
header .phone_number p {
  font-family: "11214";
  font-size: 17px;
}
header .phone_number a {
  font-family: "11217";
  color: #666;
}
header .phone_number a:hover {
  text-decoration: none;
}
nav {
  background-color: #fafdfa;
}
nav ul.list-inline a {
  font-family: "11214";
  text-transform: uppercase;
  padding: 20px 10px;
  color: #666;
}
nav ul.list-inline a:hover {
  text-decoration: none;
  background-color: #67cc67;
  color: #fff;
}
nav ul.list-inline {
  margin-bottom: 0px;
}
/*=====================    ГЛАВНАЯ   =====================*/
section#main {
  margin-top: 17px;
  background: url(../images/bg.jpg) no-repeat center center;
  background-size: cover;
}
section#main .main-header h1 {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 25px;
  font-family: "11211";
  color: #fff;
  text-transform: uppercase;
}
section#main .main-header h1 span {
  background-color: #67cc67;
  padding: 2px;
}
section#main h3 {
  text-transform: uppercase;
  font-family: "11211";
  color: #666;
}
section#main h3 span {
  color: #d67513;
}
section#main .main_buttons {
  margin-top: 9px;
  margin-bottom: 50px;
}
section#main .main_buttons button#test {
  font-family: "11211";
  border: none;
  background-color: #ff9933;
  color: #fff;
  padding: 17px 15px;
  font-size: 21px;
  text-transform: uppercase;
}
section#main .main_buttons button#test:hover {
  background-color: #d67513;
}
section#main button#get_types {
  border: none;
  background-color: transparent;
  padding: 15px 15px;
  color: #ba6816;
  font-family: "11211";
  text-transform: uppercase;
  font-size: 20px;
  border: 2px solid #ff9933;
  margin-left: 20px;
}
section#main button#get_types:hover {
  background-color: #ff9933;
  color: #fff;
}
/*=======================    ОПИСАНИЕ    ==========================*/
section#description {
  margin-top: 10px;
  padding: 40px;
  background-color: #fafdfa;
  margin-bottom: 5px;
}
section#description h3 {
  color: #ff9933;
  text-transform: uppercase;
  font-family: "11211";
}
section#description h2 {
  text-transform: uppercase;
  font-family: "11211";
  color: #666;
}
section#description p {
  color: #666;
  font-family: "11214";
  font-size: 20px;
}
/*=====================    АССОРТИМЕНТ    =====================*/
section#types {
  color: #666;
  padding-bottom: 50px;
  border: 2px solid #ff9933;
}
section#types .section_header {
  margin-bottom: 50px;
}
section#types h4 {
  margin-top: 25px;
  text-transform: uppercase;
  font-family: "11217";
}
section#types button {
  border: 2px solid #66cc66;
  padding: 10px 25px;
  text-transform: uppercase;
  font-family: "11211";
}
section#types button.more {
  color: #66cc66;
  background-color: transparent;
}
section#types button.more:hover {
  background-color: #66cc66;
  color: #fff;
}
section#types button.rent {
  color: #fff;
  border: 2px solid #66cc66;
  background-color: #66cc66;
  text-transform: uppercase;
}
section#types button.rent:hover {
  background-color: transparent;
  color: #66cc66;
}
section#types .card {
  border: 2px solid transparent;
  padding: 5px;
}
section#types .card:hover {
  background-color: #fafdfa;
  border: 2px solid #b2e5b2;
}
/*==========================    ОТЗЫВЫ    ========================*/
section#feedback {
  padding: 50px;
}
section#feedback img {
  width: 230px;
  height: 250px;
}
section#feedback img#avatar {
  width: 65px;
  height: 65px;
}
section#feedback section_header {
  margin-bottom: 60px;
}
section#feedback .item {
  height: 300px;
  background-color: #f8f8f8;
  padding: 20px;
}
section#feedback .item h5 {
  margin-top: 20px;
  font-family: "11217";
  color: #666;
  font-size: 20px;
}
section#feedback .item a {
  font-family: "11217";
  font-size: 18px;
}
section#feedback .item p {
  margin-top: 30px;
  font-family: "11214";
  font-size: 17px;
}
section#feedback .carousel-indicators {
  bottom: -50px;
}
section#feedback .carousel-indicators li {
  border: 1px solid #ff9933;
}
section#feedback .carousel-indicators .active {
  background-color: #ff9933;
}
/*=============================    ПОДВАЛ    ===========================*/
footer {
  padding: 10px;
  background-color: #666;
  color: #fff;
}
footer h2 {
  margin-left: -15px;
  font-family: "11211";
  text-transform: uppercase;
}
footer address p#address {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "11214";
}
footer address p#almet {
  font-size: 20px;
  font-family: "11214";
  margin-top: 0;
}
footer p#phone_footer {
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: "11214";
}
footer p#number {
  font-size: 20px;
  font-family: "11214";
  margin-top: 0;
}
footer img#vk {
  width: 55px;
  height: 55px;
}
footer img#insta {
  width: 39px;
  height: 39px;
}
footer .details_row {
  margin-top: 20px;
}
footer .details h5 {
  font-family: "11217";
  font-size: 25px;
}
footer .details p {
  font-family: "11214";
  font-size: 20px;
}
footer .policy {
  text-align: center;
}
footer .policy a {
  color: #fff;
  border-bottom: 1px dashed #fff;
}
footer .maker {
  text-align: right;
}
footer .maker h4 {
  font-family: "11211";
  text-transform: uppercase;
}
footer .maker a {
  color: #fff;
  font-family: "11211";
  font-size: 18px;
}
/*=================    	ВСПЛЫВАЮЩИЕ ОКНА    ===============*/
.modal-dialog {
  margin-top: 20%;
}
.header_modal h4 {
  text-transform: uppercase;
  color: #666;
  font-family: "11211";
  margin-bottom: -77px;
}
.modal-header {
  margin-bottom: -23px;
  border-bottom: none;
}
.modal-content input {
  padding: 20px;
  margin: 2px;
  border: 1px solid #ccc;
  font-family: "11214";
  opacity: 0.5;
}
.modal-content input:hover,
.modal-content input:focus {
  opacity: 1;
}
.modal-content input p {
  font-family: "11214";
  font-size: 18px;
}
.modal-content button {
  background-color: #ff9933;
  color: #fff;
  padding: 1px;
  border: 4px solid #ff9933;
  text-transform: uppercase;
  margin-left: 2px;
  width: 100%;
  font-family: "11211";
  border-radius: 3px;
  font-size: 20px;
}
.modal-content button:hover {
  background-color: #fc8b1a;
}
.modal-content input {
  padding: 30px;
  width: 100%;
}
.policy_modal .modal-title {
  font-family: "11211";
  color: #666;
  text-transform: uppercase;
  margin: 5px;
}
.policy_modal h3 {
  font-family: "11211";
  color: #666;
}
.policy_modal p {
  font-family: "11214";
  color: #666;
}
.header_modal_info h4 {
  margin-left: 20px;
  text-transform: uppercase;
  color: #666;
  font-family: "11211";
}
/*============    	АДАПТИВ    ===========*/
@media screen and (max-width: 980px) {
  section#description {
    text-align: center;
  }
  section#feedback {
    padding: 60px;
  }
  section#feedback img {
    width: 85px;
    height: 85px;
  }
  section#feedback img#avatar {
    margin-top: -85px;
    width: 36px;
    height: 36px;
  }
  section#feedback .section_header {
    margin-bottom: 36px;
  }
  section#feedback .item {
    height: 350px;
    background-color: #f8f8f8;
    padding: 20px;
  }
  section#feedback .item h5 {
    text-align: right;
    margin-top: 20px;
    font-family: "11217";
    color: #666;
    font-size: 20px;
  }
  section#feedback .item a {
    padding-right: 5px;
    font-family: "11217";
    font-size: 18px;
  }
  section#feedback .item p {
    margin-top: 30px;
    font-family: "11214";
    font-size: 17px;
  }
  footer {
    text-align: center;
  }
  footer .maker {
    text-align: center;
  }
  footer .map {
    padding-left: 25%;
  }
}
@media handheld and (max-width: 500px) {
  form {
    margin-left: -19px;
  }
  button {
    margin-left: 17px;
  }
}
